<!DOCTYPE html>
<html lang="en" dir="ltr">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  
  <title>BLOG</title>
  
  
  </head>
 <style>
  .pink{
    background-color: rgb(150, 150, 246);
    
  }
  .navbar-brand:hover{
    color: rgb(150, 121, 255);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .navbar-brand{
    font-style: italic; 
   
    font-size:150%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
  }
 </style>
</head>
<body class ="pink">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand" style="color: rgb(19, 8, 80)">DAILY  &nbsp;JOURNAL</p>
      </div >
      <ul class="nav navbar-nav navbar-right">
    
        <li id="home" ><a href="/"><b>HOME</b></a></li>
        <li id="home"><a href="/compose"><b>CREATE</b></a></li>
       
        <li id="contact"><a href="/#section"><b>VIEW POSTS</b></a></li>
      </ul>
    </div>
  </nav>

<body>
</html>
  
